
#tag-set-static, #tag-set,  TagSet, TagSetSelector, TagSetStatic, Vertical, Horizontal { height: auto; }

Tagset, TagSetSelector, FilteredTagSetSelector, FilteredTagSet { width: 1fr; }

TagSet { background: $primary 25%; border: yellow 100%; margin: 0 2 0 2; width: 1fr; }

ClickableStatic { link-hover-background: yellow 100%; link-hover-color: blue 100%; link-style: none; }

Button { width: auto; }

#message-box { dock: bottom; text-align: center; }
