#tag-set-static, #tag-set,  TagSet, TagSetSelector, TagSetStatic, Vertical, Horizontal { height: auto; }

Tagset, TagSetSelector, FilteredTagSetSelector, FilteredTagSet { width: auto; }

TagSet { background: $primary 25%; border: yellow 100%; width: 1fr; }

ClickableStatic { link-background-hover: yellow 100%; link-color-hover: blue 100%; link-style: none; }

Button { width: auto; border: round; }

#message-box { dock: bottom; text-align: center; }
